tensorflow                 
numpy                      
matplotlib                
seaborn                    
scikit-learn              
jupyter                   
pillow
opencv-python
streamlit
bing_image_downloader
